[req]
distinguished_name = subject
req_extensions     = req_ext
prompt             = no
encrypt_key        = no

[ subject ]
C  = DE
ST = state
L  = city
O  = organization
OU = organizational-unit
CN = local-server.org

[ req_ext ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.local-server.org
DNS.2 = localhost
DNS.3 = 127.0.0.1
